<p>My reservations</p>
<table style="border: 1px solid black;">
  <tr>
    <th>Admin</th>
    <th>Company</th>
    <th>Appointment</th>
    <th>Status</th>
    <th>Equipment</th>
  </tr>
  <tr *ngFor="let r of reservations">
    <td>{{r.pickUpAppointment.companyAdmin.firstName}} {{r.pickUpAppointment.companyAdmin.lastName}}</td>
    <td>{{r.company.name}}</td>
    <td>{{r.pickUpAppointment.date}}</td>
    <td>{{r.status}}</td>
    <td><span *ngFor="let e of r.equipment">{{e.name}}, </span></td>
  </tr>
</table>