<p>My reservations</p>
<table style="border: 1px solid black;">
  <tr>
    <th *ngIf="user.role === 'CUSTOMER'">Cancel reservation</th>
    <th *ngIf="user.role === 'COMPANY_ADMIN'">Pick up reservation</th>
    <th *ngIf="user.role === 'COMPANY_ADMIN'">Customer</th>
    <th>Admin</th>
    <th>Company</th>
    <th>Appointment</th>
    <th>Status</th>
    <th>Equipment</th>
  </tr>
  <tr *ngFor="let r of reservations">
    <input *ngIf="user.role === 'CUSTOMER'" class="cancel" type="button" value="Cancel" (click)="cancelReservation(r)" [ngClass]="{ 'disabled-button': isReservationCanceled(r) }" [disabled]="isReservationCanceled(r)">
    <input *ngIf="user.role === 'COMPANY_ADMIN'" class="cancel" type="button" value="Pick Up" (click)="markAsPickedUp(r)" [ngClass]="{ 'disabled-button': !isReservationPickupPossible(r) }" [disabled]="!isReservationPickupPossible(r)">
    <td *ngIf="user.role === 'COMPANY_ADMIN'">{{ r.customer.firstName }} {{ r.customer.lastName }}</td>
    <td>{{ r.pickUpAppointment.companyAdmin.firstName }} {{ r.pickUpAppointment.companyAdmin.lastName }}</td>
    <td>{{ r.company.name }}</td>
    <td>{{ formatDate(r.pickUpAppointment.date) }}</td>
    <td>{{ r.status }}</td>
    <td><span *ngFor="let e of r.equipment">{{ e.name }}, </span></td>
  </tr>
</table>

<br><br>
<p>My reservations history</p>
<table *ngIf="user.role === 'COMPANY_ADMIN'" style="border: 1px solid black;">
  <tr>
    <th>Customer</th>
    <th>Admin</th>
    <th>Company</th>
    <th>Appointment</th>
    <th>Status</th>
    <th>Equipment</th>
  </tr>
  <tr *ngFor="let r of oldReservations">
    <td *ngIf="user.role === 'COMPANY_ADMIN'">{{ r.customer.firstName }} {{ r.customer.lastName }}</td>
    <td>{{ r.pickUpAppointment.companyAdmin.firstName }} {{ r.pickUpAppointment.companyAdmin.lastName }}</td>
    <td>{{ r.company.name }}</td>
    <td>{{ formatDate(r.pickUpAppointment.date) }}</td>
    <td>{{ r.status }}</td>
    <td><span *ngFor="let e of r.equipment">{{ e.name }}, </span></td>
  </tr>
</table>