#pickup-appointment-form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

h2{
    text-align: left;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 5px;
}

div {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr {
    background-color: #f2f2f2;
    height: fit-content;
}

td {
    height: fit-content;
    width: 50%;
}

.no-change{
    background-color: #f2f2f2;
}
  
.appointment-form mat-form-field {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 20px;
}
  
.appointment-form mat-form-field textarea {
    width: calc(100% - 24px);
}
  
.appointment-form mat-form-field input {
    width: 100%;
}
  
.appointment-form mat-label{
    width: auto;
    height: fit-content;
}
  
form button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}