<div class="profile-container">
    <h2>My Profile</h2>
    <div class="user-details">
      <div><strong>ID:</strong> {{ user.id }}</div>
      <div><strong>Username:</strong> {{ user.username }}</div>
      <div><strong>Email:</strong> {{ user.email }}</div>
      <div><strong>Category:</strong> {{ user.category }}</div>
      <div><strong>Role:</strong> {{ user.role }}</div>
      <form (submit)="updateProfile($event)">
        <div>
          <label for="penaltyPoints"><strong>Penalty Points:</strong></label>
          <input type="number" id="penaltyPoints" [(ngModel)]="user.penaltyPoints" name="penaltyPoints">
        </div>
        <div>
          <label for="firstName"><strong>First name:</strong></label>
          <input type="text" id="firstName" [(ngModel)]="user.firstName" name="firstName">
        </div>
        <div>
          <label for="lastName"><strong>Last Name:</strong></label>
          <input type="text" id="lastName" [(ngModel)]="user.lastName" name="lastName">
        </div>
        
        <button type="submit">Update Profile</button>
      </form>
      
    </div>
  </div>
  
  