.register{
    display: flex;
    justify-content: space-between;
    width: 850px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main{
    display: flex;
    justify-content: center;
}

label{
    font-weight: bold;
}

.center{
    display: flex;
    margin: 0 auto;
}

.company-form{
    display: flex;
    flex-direction: column;
    width: 330px;
}

button[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}