.page{
    padding-top: auto;
    height: 60vh; 
    width: 100vw; 
    display: flex; 
    justify-content: center;
    vertical-align: center; 
    align-items: center;
    padding-bottom: auto;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid black;
    width: auto;
    min-width: 60vw;
    top:auto;
    padding: 20px;
}
.txt{
    color: black;
    font-size: 230%;
    text-align: center;
    margin-top: 20px;
    width: auto;
}
.number{
    font-size: 590%;
    text-align: center;
    margin-top: 20px;
    width: auto;
}
.disclaimer{
    font-size: 190%;
    color: gray;
    margin-top: 12px;
    width: auto;
}
.back{
    position: absolute;
    margin-bottom: 90vh;
    margin-left: -90vw;
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}