<div class="container">
  <button (click)="navigateToCompanies()">Companies</button>
  <button *ngIf="isLoggedIn()" (click)="navigateToMyProfile()">My profile</button>
  <button *ngIf="isLoggedIn()" (click)="navigateToCompanyAdminProfile()">CompanyAdmin Profile</button>
  <header>
    <h2>Welcome to the Medical Equipment Reservation System!</h2>
  </header>
  <main>
    <section>
      <p>Explore our centralized information system for medical equipment procurement.</p>
    </section>
    <section *ngIf="!isLoggedIn(); else loggedInSection">
      <button (click)="navigateToLogin()">Log in</button><br><br>
      <div class="register-section">
        <p>Don't have an account?</p>
        <a (click)="register()">Register</a>
      </div>
    </section>
    <ng-template #loggedInSection>
      <button (click)="logout()">Log out</button>
    </ng-template>
  </main>
  <footer>
    <p>&copy; 2023 Medical Equipment Reservation System</p>
  </footer>
</div>
