<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Confirmation</title>
</head>
<body>
    <h1>Registration Successful!</h1>
    <p>Confirm-registration works!</p>
    <p>You have successfully authenticated the profile. You can now go back and log into your account.</p>
    <p><a href="/login">Log into your account</a></p>
    <p>Or, if you need to confirm your registration again, you can use the following link:</p>
    <p><a href="/activate/:token">Confirm Registration Again</a></p>
</body>
</html>
