<div id="company-profile-form">
    <form class="profile-form" [formGroup]="companyProfileForm">
        <div>

            <table>
                <th>Company Info</th>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" type="text" />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Location</mat-label>
                            <input matInput formControlName="location" type="text" />        
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Grade</mat-label>
                            <input matInput formControlName="grade" type="number" [defaultValue]="1" min="1" max="5" placeholder="1"/>
                        </mat-form-field>
                    </td>
                </tr>
            </table>
            <!-- Update company info -->
            <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateCompanyProfile()" mat-raised-button>
                Save company info changes
            </button>           
        </div>
    </form>

    <!-- Update company  equipment -->
    <button class="equipment-update-button" (click)="openEquipmentUpdate()" *ngIf="!shouldEquipmentUpdate">
        Update Equipment in stock
    </button>
    
    <!-- company available equipment update -->
    <div class="equipment-div" *ngIf="shouldEquipmentUpdate" >
        <table class="equipment-table">
            <tr>
                <th colspan="5">
                    <div class="search-div">
                        Equipment in stock
                        <input class="search-input" type="text" placeholder="Search" [(ngModel)]="search">
                        <button class="search-button" (click)="searchInStock()">Search</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th>Amount</th>
                <th></th>
            </tr>
            <tr *ngFor="let e of companyEquipment">
                <td>{{e.equipment.name}}</td>
                <td>{{e.equipment.type}}</td>
                <td>{{e.equipment.description}}</td>
                <td>
                    <input style="width: 45px;" type="number" [(ngModel)]="e.quantity" min="1"
                    (input)="onQuantityInput($event)">
                </td>
                <th id="remove-th">
                    <button class="equipment-table-buttons" 
                        (click)="removeEquipment(e.equipment)" [disabled]="!canRemoveEquipment(e.equipment)">
                        Remove
                    </button>
                </th>
            </tr>
        </table>

        <table class="equipment-table">
            <tr>
                <th colspan="4">
                    <div class="search-div">
                        Available equipment
                        <input class="search-input" type="text" placeholder="Search" [(ngModel)]="searchAvailable">
                        <button class="search-button" (click)="searchAvailableEquipment()">Search</button>
                    </div>
                </th>
            </tr>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
                <th></th>
            </tr>
            <tr *ngFor="let e of availableEquipment">
                <td>{{e.name}}</td>
                <td>{{e.type}}</td>
                <td>{{e.description}}</td>
                <th><button class="equipment-table-buttons" (click)="addEquipment(e)">Add</button></th>
            </tr>
        </table>
        <button class="equipment-update-button" color="primary" type="submit" (click)="updateCompanyEquipment()" mat-raised-button>
            Save Equipment changes
        </button>
    </div>
</div>