#company-profile-form {
  max-width: 80%;
  margin: auto;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

div {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    gap: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr, td {
    width: 100%;
}

.content{
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin-left: 5%;
}

.shift-div{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
}

.profile-form mat-form-field {
    width: 100%;
}

.profile-form mat-form-field textarea {
    width: calc(100% - 24px);
}

.profile-form mat-form-field input {
    width: 90%;
}

.profile-form mat-label{
    width: auto;
    height: fit-content;
}

form button {
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* equipment update */
.equipment-update-button{
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    align-self: center;
}

.equipment-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2px;
}

.equipment-search{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 30px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.equipment-table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 2px;
}
.equipment-header-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-span: all;
    background-color: #2c3e50;
    color: white;
}
.equipment-table th{
    background-color: #2c3e50;
    color: white;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.equipment-table td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    width: fit-content;
}
.equipment-table tr{
    min-height: 35px;
}
.equipment-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
.equipment-table-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 80px;
    text-align: center;
}