<div id="company-profile-form">
    <form class="profile-form" [formGroup]="companyProfileForm">
        <div>

            <table>
                <th>Company Info</th>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Name</mat-label>
                            <input matInput formControlName="name" type="text" />
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Location</mat-label>
                            <input matInput formControlName="location" type="text" />        
                        </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field class="content">
                            <mat-label>Grade</mat-label>
                            <input matInput formControlName="grade" type="number" [defaultValue]="1" min="1" max="5" placeholder="1"/>
                        </mat-form-field>
                    </td>
                </tr>
                <!-- <tr>
                    <td>
                        <div class="shift-div">
                            <mat-form-field class="content">
                                <mat-label>Start of shift</mat-label>
                                 <input matInput formControlName="startTime" type="datetime" />
                            </mat-form-field>
                            <mat-form-field class="content">
                                <mat-label>End of shift</mat-label>
                                <input matInput formControlName="endTime" type="datetime" />
                            </mat-form-field>
                        </div>
                    </td>
                </tr> -->
            </table>

            <!-- TODO - company available equipment update -->

            <!-- TODO - fix update -->
            <!-- Update -->
            <button *ngIf="shouldEdit" color="primary" type="submit" (click)="updateCompanyProfile()" mat-raised-button>
                Save changes
            </button>
        </div>
    </form>
</div>