<div id="companyProfile">
    <h1>Company profile</h1>

    <table *ngIf="canShow">
        <tr>
            <td>Name</td>
            <td>{{company?.name}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{company?.location}}</td>
        </tr>
        <tr>
            <td>Grade</td>
            <td>{{company?.grade}}</td>
        </tr>
        <tr>
            <td>Working hours</td>
            <td>{{company?.startTime}} - {{company?.endTime}}</td>
        </tr>
    </table>
    <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%;">
        <h2>Equipment in stock</h2>
        <div *ngIf="user?.role==='CUSTOMER'" style="display: flex; flex-direction: row; justify-content: end; height:30px; margin-top: auto; margin-bottom: 5px;">
            <input style=" height:auto" type="text" placeholder="Search" [(ngModel)]="search">
            <button style="margin-left: 5px;" (click)="filter()">Search</button>
        </div>
    </div>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th *ngIf="user?.role==='CUSTOMER'" style="width: 90px;">Add to cart</th>
            <th *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">Amount in Stock</th>
        </tr>
        <tr *ngFor="let e of equipment">
            <td>{{e.equipment.name}}</td>
            <td>{{e.equipment.description}}</td>
            <th *ngIf="user?.role==='CUSTOMER'"><button style="width: 90px; height: 30px;" (click)="AddToCart(e.equipment)">Add</button></th>
            <td *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">{{e.quantity}}</td>
        </tr>
    </table>
    <div *ngIf="user?.role==='CUSTOMER' && cart && cart.length>0">
        <h2>Equipment in your cart</h2>
        <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th *ngIf="user?.role==='CUSTOMER'">Amount</th>
                <th *ngIf="user?.role==='CUSTOMER'" style="width: 90px;">Remove</th>
              </tr>
            </thead>
            <tbody style="max-height: 100px;overflow-y: auto; width: 100%;">
              <tr *ngFor="let e of cart">
                <td>{{ e.equipment.name }}</td>
                <td>{{ e.equipment.description }}</td>
                <th *ngIf="user?.role==='CUSTOMER'">
                    <input style="width: 45px;" type="number" [(ngModel)]="e.quantity" min="1" [max]="findMaxAmount(e)"
                    (input)="onQuantityInput($event, findMaxAmount(e))"> 
                </th>
                <th *ngIf="user?.role==='CUSTOMER'">
                  <button style="width: 90px; height: 30px;" (click)="RemoveFromCart(e.equipment)">Remove</button>
                </th>
              </tr>
            </tbody>
          </table>
            <button class="reserveButton" (click)="showAppointments()">Reserve a pickup appointment</button>
    </div>
    <div *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">
        <h2>Company administrators</h2>
        <table>
            <tr>
                <th>Company</th>
                <th>Admin Id</th>
                <th>Administrator</th>
                <th>Email</th>
                <th>Job Description</th>
            </tr>
            <tr *ngFor="let ca of admins">
                <td>{{ca.company.name}}</td>
                <td>{{ca.id}}</td>
                <td>{{ca.firstName}} {{ca.lastName}}</td> 
                <td>{{ca.email}}</td> 
                <td>{{ca.jobDescription}}</td>
            </tr>
        </table>
    </div>
    <div #pickup>
        <div *ngIf="user?.role==='CUSTOMER' && availableAppointments" style="display: flex; flex-direction: row; justify-content: space-around; margin-bottom: 20px; margin-top: 20px; background-color: bisque; border-radius: 5px;">
            <label style="margin-right: 10px; width: fit-content;">Choose custome date for your appointment</label>
            <input type="date" placeholder="Date" [(ngModel)]="selectedDate">
            <button style="margin-left: 10px;" (click)="findCustomAppointments()">Apply</button>
        </div>
        <h2 *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">PickUp Appointments</h2>
        <h2 *ngIf="user?.role==='CUSTOMER' && availableAppointments">Available PickUp Appointments</h2>
        <table *ngIf="(user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()) || availableAppointments">
            <tr>
                <th>Administrator</th>
                <th>Starts at</th>
                <th>Duration (in hours)</th>
                <th *ngIf="user?.role==='CUSTOMER'">Select</th>
            </tr>
            <tr *ngFor="let a of appointments">
                <td>{{ a.companyAdmin.firstName }} {{ a.companyAdmin.lastName }}</td>
                <td>{{ formatDate(a.date) }}</td> 
                <td>{{ a.duration }}</td> 
                <td *ngIf="user?.role==='CUSTOMER'"><button style="width: 90px; height: 30px;" (click)="selectAppointment(a)">Select</button></td>
            </tr>
        </table>
    </div>

    <div *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">
        <h2 *ngIf="user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()">Pending Reservations</h2>
        <table>
            <tr>
                <th>Pick up reservation</th>
                <th>Customer</th>
                <th>Admin</th>
                <th>Appointment</th>
                <th>Status</th>
                <th>Equipment</th>
            </tr>
            <tr *ngFor="let r of companyReservations">
                <input class="pick-up-button" type="button" value="Pick Up" (click)="markAsPickedUp(r)" [ngClass]="{ 'disabled-button': !isReservationPickupPossible(r) }" [disabled]="!isReservationPickupPossible(r)">
                <td>{{ r.customer.firstName }} {{ r.customer.lastName }}</td>
                <td>{{r.pickUpAppointment.companyAdmin.firstName}} {{r.pickUpAppointment.companyAdmin.lastName}}</td>
                <td>{{formatDate(r.pickUpAppointment.date)}}</td>
                <td>{{r.status}}</td>
                <td><span *ngFor="let e of r.equipment">{{e.quantity}} &times; {{e.equipment.name}}, <br></span></td>
            </tr>
          </table>
    </div>
    
    <button *ngIf="!shouldEdit && user?.role==='COMPANY_ADMIN' && canCompanyAdminSee()" type="submit" (click)="editCompany()">
        Edit profile
    </button>

    <div>
        <xp-company-profile-form *ngIf="shouldRenderEditForm" [shouldEdit]="shouldEdit"
        [company]="company" (companyProfileUpdated)="onCompanyUpdated()"></xp-company-profile-form>
    </div>

</div>
