<div>
    <h1>System administrator profile</h1>
    <div class="button-container">
        <button type="submit" (click)="addCompanyComponent()">Add company</button>
        <button type="submit" (click)="addSystemAdmin()">Add system administrator</button>
    </div>
    <div class="complaint-container">
        <div class="register">
            <h2>Company complaints:</h2>
                <div class="single-complaint" *ngFor="let cc of companyComplaints">
                    <span><b>Creator:</b> {{cc.customer.firstName}} {{cc.customer.lastName}}</span><br>
                    <span>{{cc.text}}</span><br>
                    <button class="select-button" type="submit" (click)="selectComplaint(cc)">Select</button>
                </div>
        </div>
        <div class="column">
            <div class="register" *ngIf="selectedComplaint">
                <div class="column">
                    <span>Response to: {{selectedComplaint.customer.firstName}} {{selectedComplaint.customer.lastName}}</span><br>
                    <textarea name="responseToAdmin" id="response" cols="40" rows="3"></textarea><br>
                    <button type="submit" (click)="sendResponse()">Send response</button>
                </div>
            </div>
        </div>
        <div class="register">
                <h2>Company administrator complaints:</h2>
                <div class="single-complaint" *ngFor="let cac of companyAdminComplaints">
                    <span><b>Creator:</b> {{cac.customer.firstName}} {{cac.customer.lastName}}</span><br>
                    <span>{{cac.text}}</span><br>
                    <button class="select-button" type="submit" (click)="selectComplaint(cac)">Select</button>
                </div>
        </div>
    </div>
</div>
